@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format(opentype);
}

:root {
    --cor0: #fff;
    --cor1: #024059;
    --cor2: #026873;
    --cor3: #04BF8A;
    --cor4: #025940;
    --cor5: #03A64A;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'idroid', cursive; 
}

* {
    margin: 0px;
    padding: 0px;
}

p {
    margin: 15px 0px
}

body {
    background-color: var(--cor3);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00a0\1f517';
}

header {
    background-image: linear-gradient(to top, var(--cor4), var(--cor3)); 
    margin: 0px auto;
    padding-top: 40px;
    display: block;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.501);
    width: 100%;
    
}

header > h1 {
    font-family: var(--fonte-destaque);
    min-height: 80px;
    text-align: center;
    color: var(--cor0);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.552);
    font-weight: 800;
    margin-bottom: 20px;
    font-size: 3em;
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 600px;
    margin-bottom: 20px;
    margin: auto;
    color: var(--cor0);
}

strong {
    color: var(--cor4);
}

nav {
    background-color: var(--cor4);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.422);
    padding: 10px;
    cursor: pointer;
}

nav a {
    color: var(--cor3);
}

nav a:hover {
    transition: 0.5s;
    text-decoration: none;
    background-color: var(--cor3);
    color: var(--cor4);
    
}

main {
    max-width: 1000px;
    min-width: 300px;
    text-align: justify;
    margin: auto;
    height: 100%;
    max-width: 1050px;
}

h1 {
    font-family: var(--fonte-destaque);
    text-align: center;
    color: var(--cor0);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.552);
    font-weight: 800;
    margin: 1px;
    font-size: 2em;
}

header > p {
    text-align: center;
    color: var(--cor0);
    padding: 15px;
    text-shadow:1px 1px 5px rgba(0, 0, 0, 0.535);
}

a {
    text-decoration: none;
    color: var(--cor0);
    background-color: var(--cor4);
    margin-right: 10px;
    font-weight: bold;
    border-radius: 5px;
}

a:hover {
    text-decoration: underline;
    background-color: var(--cor3);
    
}

article {
    background-color: var(--cor0);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.501);
    padding: 16px;
    display: block;
    margin: 0 auto;
    border-radius: 0px 0px 10px 10px;
}

article > h1 {
    font-family: var(--fonte-android);
    text-align:center;
    color: var(--cor4);
}

article > p {
    font-size: 18px;
    text-indent: 2em;
    line-height: 2em;
    padding-bottom: 20px;
}

h2 {
    font-family: 'idroid';
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor4), transparent);
    margin: 0px;
    color: #025940;
    border-radius: 8px;
    padding: 3px 10px;
    font-size: 1.5em;
    text-shadow:1px 1px 5px var(--cor4);
    color: var(--cor0);
}

#video {
    background-color: #025940;
    margin: 0px -16px 0px -16px;
    padding: 20px;
    padding-bottom: 56.1%;
    display: block;
    position: relative;
}   

#video > iframe {
    position: absolute;
    top:5%;
    left:5%;
    width: 90%;
    height: 90%;
}
   
h3 {
    background-color: var(--cor5);
    color: var(--cor0);
    border-radius: 5px 5px 0px 0px;
    padding: 5px 0px;
    margin: 0px;
    width: 100%;
    text-indent: 1em;
    text-shadow:1px 1px 5px var(--cor1);
    
}

aside {
    background-color: #04bf8a55;
    box-shadow: 4px 4px 10px var(--cor4);
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    text-indent: 1em;
}

aside > h3 {
    margin: -10px -10px 0px -10px;
    padding: 10px;
}

aside > ul {
    list-style-type: '\2714\00a0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer {
    color: var(--cor0);
    text-align: center;
    font-size: 0.8em;
    background-color: var(--cor4);
    padding: 0px;
    margin: 0px 0px -50px 0px;
    border-radius: 5px;
    
}

#robog {
    width: 100%;
    height: auto;
    display: block;
    margin:  0 auto;
}

#robop {
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;

}

#irinap {
    width: 40%;
    height: auto;
    display: block;
}

#irinag {
    width: 100%;
    height: auto;
}

#bugdroid {
    max-width: 350px;
    display: block;
    margin: 0 auto;
}
